/*body {
background-image: linear-gradient(to top, #0dc2aa, #55d0bb, #7dddcc, #a0ebdd, #c1f8ee);
position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}*/


.container-center {
	margin: auto;
	padding-top: 2vw;
	width: 90%
}

/*.question-header {
	text-align: center;
	margin: 10%;
	font-family: serif;
	font-size: 3em;
	line-height: 1em;
}*/

